*.png
*.img
*.jpg

*.so
*.save
*.backup

#VSCodium
.config/VSCodium/User/*
!.config/VSCodium/User/extensions
!.config/VSCodium/User/extensions.txt
!.config/VSCodium/User/settings.json
!.config/VSCodium/User/keybindings.json
!.config/VSCodium/User/snippets

#wallpapers
!wallpapers

.config/nvim
.vim/plugged/

